
/* 
    Created on : 08/02/2019, 19:30:54
    Author     : IvanGzyk
*/
body{
    background: url("../fundo.jpg");
}

h1{
    text-align: center;
    color: blue;
}
h3{
  text-align: center;
  color: brown;  
}

img{
    width: 20%;
    height: 20%;
    margin-left: 40%;
}

#caeçalho{
    width: 80%;
    height: auto;
    margin-left: 10%;
    background-color: aqua
}
#corpo{
    width: 80%;
    height: auto;
    margin-left: 10%;
    background-color: aqua;
    
}

