
body{
    background: url("../fundo.jpg");
    background-repeat: repeat y;
    background-size: 1600px 800px;
}
#corpo{
    width: 80%;
    height: auto;
    margin-left: 10%;
    background-color: aqua;
}
#corpo #cabeçalho{
    width: 90%;
    height: auto;
    margin-left: 5%;
}
#foto img{
    width: 20%;
    height: 20%;
    margin-left: 40%;
}
#corpo #pessoal{
    width: 90%;
    height: auto;
    margin-left: 5%;
}
#corpo #menu{
    width: 90%;
    height: auto;
    margin-left: 5%;
}
#corpo #conteudo{
    width: 90%;
    height: auto;
    margin-left: 5%;
}
#curriculo{
    width: 90%;
    height: auto;
    margin-left: 5%;
}
 p{
    text-align: left;
}
#corpo #rodape{
    width: 90%;
    height: 10%;
    margin-left: 5%;
}
h1{
    text-align: center;
    color: blue;
}
h2{
    text-align: center;
    color: brown; 
}
h3{
    text-align: center;
    color: brown;  
}
@media (max-width: 800px) {
    #corpo{
    width: 100%;
    height: auto;
    margin-left: 0%;
    background-color: aqua;
}
#corpo #cabeçalho{
    width: 100%;
    height: auto;
    margin-left: 0%;
}
#foto img{
    width: 30%;
    height: 30%;
    margin-left: 35%;
}
#corpo #pessoal{
    width: 100%;
    height: auto;
    margin-left: 0%;
}
#corpo #menu{
    width: 100%;
    height: auto;
    margin-left: 0%;
}
#corpo #conteudo{
    width: 100%;
    height: auto;
    margin-left: 0%;
}
#curriculo{
    width: 100%;
    height: auto;
    margin-left: 0%;
}
 p{
    text-align: left;
}
#corpo #rodape{
    width: 100%;
    height: 10%;
    margin-left: 0%;
}
li{
    margin-left: 10%;
}
ul{
  margin-left: 10%;  
}
ol{
    margin-left: 10%;
}
h1{
    text-align: center;
    color: blue;
    margin-left: 10%;
    
}
h2{
    text-align: center;
    color: brown; 
    margin-left: 10%;
}
h3{
    text-align: center;
    color: brown;
    margin-left: 10%;
}
p{
    
    margin-left: 10%;
}

}