
body{
    background: url("../fundo.jpg");
}

h1{
    text-align: center;
    color: blue;
}
h3{
    text-align: center;
    color: brown;  
}

img{
    width: 20%;
    height: 20%;
    margin-left: 40%;
}

#cabeçalho{
    width: 80%;
    height: auto;
    margin-left: 10%;
    background-color: aqua
}
#corpo{
    width: 80%;
    height: auto;
    margin-left: 10%;
    background-color: aqua;

}
#mosstrar{
    width: 80%;
    height: auto;
    margin-left: 10%;
    background-color: aqua;  
}
#menu{
    width: 30%;
    height: auto;
}
#conteudo{
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background-color: aqua; 
}

.curriculo{
    
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background-color: aqua;
}